<html>
<head>
    <title>Esta es una aplicación web</title>
    <script src="/static/gauge.min.js"></script>
    <script src="/static/jquery.js"></script>
</head>
<body>
    <h1>Pingüino PIC18F4550</h1>
    <p>
        El valor analógico del pin es: <span id="numero">obteniendo...</span>
    </p>
    <hr/>
    <script type="text/javascript">
        $(function () {

            function actualizarValor() {
                $.ajax('/dato', {
                    success: function (data, status, xhr){
                        //alert(data);
                        $('#numero').text(data);
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }

            window.setInterval(actualizarValor, 500);
        });

    </script>
</body>
</html>
