<html>
    <head>
        <title>{% if title %}{{title}}{%else%}Sin título{%endif%}</title>
        <!-- En vez de jQUery, importamos brython -->
        <script src="/static/brython/brython.js"></script>

    </head>
    <body onload="brython()">

        <object
            data="/static/svg/ledarray.svg"
            type="image/svg+xml"
            id="ledarray">
        </object>

    </body>

    <script type="text/python">
        from browser import document, alert, websocket
        from javascript import JSObject
        import json
        import time


        ws = None


        class SVG(object):
            '''Envoltura sobre SVG para acceder más fácil y rápidamente a los
                elementos del svg
            '''
            def __init__(self, svg_id):
                node = JSObject(document[svg_id])
                self.root = JSObject(node.contentDocument)
                self.cache = {}

            def __getitem__(self, key):
                if key not in self.cache:
                    self.cache[key] = JSObject(self.root.getElementById(key))
                return self.cache[key]

        COLOR_APAGADO = '#333'
        COLOR_ENCENDIDO = 'green'

        svg = SVG('ledarray')

        def apager_leds():
            for i in range(8):
                svg['led%d' % i].style.fill = COLOR_APAGADO

        apager_leds()

        def on_message(msg):
            datos = json.loads(msg.data)

            n = datos['led']
            print("Vamos a prender el led", n)
            apager_leds()
            svg['led%d' % n].style.fill = COLOR_ENCENDIDO

        def on_close(evt):
            print("Se cerró el socket, reintentando en 2 segundo")
            time.sleep(2)
            connect()

        url = str(document.location.href)
        url = url.replace('http:', 'ws:')

        def connect():
            global ws
            ws_url = url+'websocket'
            print("Contectando a %s" % ws_url)
            ws = websocket.websocket(ws_url)
            ws.bind('open', lambda x: print("Connect"))
            ws.bind('message', on_message)
            ws.bind('close', on_close)

        connect()

        </script>
</html>