<html>
    <head>
        <title>Título</title>
        <link rel="stylesheet" href="/static/estilo.css">
    </head>
    <body>
        <h2>Ejemplos con Flask, Flot, jQuery, jQuery UI, D3js y nvd3</h2>
        <ul>
            <li><a href="/plot/" title="Ejemplo de Flot">Ploteo</a>
            </li>
            <li><a href="/analog/">Control salidas analgóicas</a></li>
            <li><a href="/nvd3_plot/">Plot con NVD3</a></li>
        </ul>

        <ul>
            <li>Librerías de CSS/JS</li>
            <li><a href="/static/jquery-ui/index.html" title="jQuery UI">
                Widgets para desarrollar
            </a></li>
            <li>
                <a href="/static/nvd3-master/examples/index.html">Ejemplos de NVD3</a>
            </li>
        </ul>
    </body>
</html>