<html>
<head>
    <title>Esta es una palicación web</title>
    <script src="/static/gauge.min.js"></script>
    <script src="/static/jquery.js"></script>
</head>
<body>
    <h1>Encabezado</h1>
    <p>
        Potenciometro<br/>
        <canvas width="400" height="300" id="potenciometro"></canvas>
    </p>
    <hr/>
    <script type="text/javascript">
        $(function () {

            // Crear el gauge
            var opts = {
              lines: 12, // The number of lines to draw
              angle: 0.15, // The length of each line
              lineWidth: 0.44, // The line thickness
              pointer: {
                length: 0.9, // The radius of the inner circle
                strokeWidth: 0.035, // The rotation offset
                color: '#000000' // Fill color
              },
              limitMax: 'false',   // If true, the pointer will not go past the end of the gauge

              colorStart: '#6FADCF',   // Colors
              colorStop: '#8FC0DA',    // just experiment with them
              strokeColor: '#E0E0E0',   // to see which ones work best for you
              generateGradient: true
            };
            var target = document.getElementById('potenciometro'); // your canvas element
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
            gauge.maxValue = 1024; // set max gauge value
            gauge.animationSpeed = 32; // set animation speed (32 is default value)
            gauge.set(0); // set actual value

            function actualizarValor() {
                $.ajax('/dato', {
                    success: function (data, status, xhr){
                        //alert(data);
                        gauge.set(parseInt(data));
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }

            window.setInterval(actualizarValor, 500);
        });

    </script>
</body>
</html>