<!DOCTYPE html>
<html>

    <head>
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/flot/jquery.flot.js"></script>
        <script type="text/javascript">
            $(function () {
                // return;
                var $placeholder = $('#placeholder');
                var datalen = 20;
                var plot = null;
                var series = {
                    label: "Value",
                    lines: {
                        show: true,
                        fill: true,
                        shadowSize: 25
                    },
                    points: {
                        show:true
                    },
                    data: []
                };
                function updater(evt) {
                    var data = [];
                    var d = $.parseJSON(evt.data);
                    console.log("Llegan datos ", d);
                    series.data.push([d.x, d.y]);
                    while (series.data.length > datalen) {
                        series.data.shift();
                    }

                    if(plot) {
                        plot.setData([series]);
                        plot.setupGrid();
                        plot.draw();
                    } else if(series.data.length > 2) {
                        plot = $.plot($placeholder, [series], {
                            xaxis:{
                                mode: "time",
                                timeformat: "%H:%M:%S",
                                minTickSize: [2, "second"],
                            },
                            yaxis: {
                                min: 0,
                                max: 10
                            }
                        });
                        plot.draw();
                    }
                }

                function updateul (evt) {
                    console.log('A message has arrived!');
                    $('#output').append('<li>'+evt.data+'</li>');
                }
                // Elemento para recibir datos sin preguntar por ello (HTML5)
                sse = new EventSource('/datos_tiempo_real/');
                // Función que se llama cuando llegan datos
                sse.onmessage = updater;
                sse.onerror = function () {
                    window.setTimeout(function () {

                        window.location.reload();
                    }, 1500);
                }
            });


        </script>
    </head>

    <body>

        <h2>Demo</h2>

        <ul id="output">

        </ul>
        <div id="placeholder" style="width:600px;height:300px;"></div>
    </body>

</html>